# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform plan output
*.tfplan

# Terraform lock file (optional to ignore)
.terraform.lock.hcl

# .terraform directory (contains plugins and local cache)
.terraform/

# Sensitive files (optional)
terraform.tfvars
*.tfvars

# Ignore editor or OS files
*.swp
*.DS_Store
*.idea/
*.vscode/
